@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --green: #3ed03e;
  --hover: rgb(7, 154, 7);
}

.sbb{
  @apply shadow-md px-[20px] md:px-[35px] xl:py-[50px] xl:py-[10px] py-[5px];
}

.slsd{
  box-shadow:  240px 180px 500px #383838;
             /* -50px -50px 100px #363434; */
}

.bbb{
  @apply border-green-600 w-[150px] xl:w-[200px] bg-green-600 h-[40px] xl:h-[50px] rounded-[25px] text-stone-900 font-semibold ;
}

.thic{
  @apply text-green-600 text-3xl;
}

.ppcd{
  @apply flex flex-col items-center justify-center relative;
}
.ppim{
  @apply bg-gray-200 w-[200px] xl:w-[230px];
}

.ten{
  background-image: linear-gradient(var(--green),rgb(26, 126, 26));
}

.etic{
  @apply border-t-2 border-green-500 w-[13px] mt-[12px];
}
.etb{

}



@media only screen and (max-width: 480px) {
  .one{
    background-image: url(images/mobile/guyandladylap\ \(1\).jpg);
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .twoleft{
    background-image: url(images/mobile/Fist\ Bump.jpg);
  }
  .four{
    background-image: url(images/mobile/Black-couple.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .eight{
    background-image: url(images/mobile/Happy\ woman.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
}