@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --green: #3ed03e;
  --hover: rgb(7, 154, 7);
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.sbb{
  @apply shadow-md w-[100%];
}

.slsd{
  box-shadow:  240px 180px 500px #9c9494;
             /* -50px -50px 100px #363434; */
}


.bbb{
  @apply border-green-600 w-[150px] lg:w-[200px] bg-green-600 h-[40px] lg:h-[50px] rounded-[25px] text-stone-900 font-semibold ;
}

.thic{
  @apply text-green-600 text-3xl;
}

.ppcd{
  @apply flex flex-col items-center justify-center relative;
}
.ppim{
  @apply bg-gray-200 w-[200px] lg:w-[100%];
}

.ten{
  background-image: linear-gradient(var(--green),rgb(26, 126, 26));
}

.etic{
  @apply border-t-2 border-green-500 w-[13px] mt-[12px];
}
.etb{

}
.ghh:hover{
  color: var(--hover);
}
.bhh:hover{
  background-color: var(--green);
}

.statone{
  box-shadow: 1px 3px 4px 0px black,
                1px 2px 4px 0px black;
}
.twodet{
   box-shadow: 1px 3px 4px 0px black,
                1px 2px 4px 0px black;
}
.sixone{
   box-shadow: 1px 3px 10px 0px black,
                1px 2px 1px 0px black;
}
.t1{
   box-shadow: 1px 3px 10px 0px black,
                1px 2px 1px 0px black;
}



@media only screen and (max-width: 480px) {
  .one{
    background-image: url(images/mobile/guyandladylap\ \(1\).jpg);
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .twoleft{
    background-image: url(images/mobile/Fist\ Bump.jpg);
  }
  .four{
    background-image: url(images/mobile/Black-couple.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .eight{
    background-image: url(images/mobile/Happy\ woman.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .servsh{
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .one{
    background-image: url(images/mobile/guyandladylap\ \(1\).jpg);
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .twoleft{
    background-image: url(images/mobile/Fist\ Bump.jpg);
  }
  .four{
    background-image: url(images/mobile/Black-couple.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .eight{
    background-image: url(images/mobile/Happy\ woman.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
  .servsh{
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .one{
    background-image: url(images/pc/guyandladylap.jpg);
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  }
  .twoleft{
    background-image: url(images/pc/Deal.jpg);
  }
  .four{
    background-image: url(images/pc/joyful-successful-sales-agent-presenting-content-tablet.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  }
  .eight{
    background-image: url(images/pc/Black-couple.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  }
  .servsh{
    display: none;
  }
  .servli:hover .servsh{
    display: block;
  }
}